* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
}

.container {
  max-width: 1200px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}