@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:focus, a:active {
  outline: none;
}

.logo-link {
  color: #34C759;
  font-size: 24px;
  font-family: "Alegreya" sans-serif;
  line-height: 14px;
  text-transform: uppercase;
}

header {
  background-color: #252525;
  opacity: 0.75;
  margin-bottom: 45px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 27px 164px 37px 165px;
  gap: 397px;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 13px;
}
.nav-items_item-link {
  color: #FFFFFF;
  font-family: "Alegreya" sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}
.nav-items_item-link:hover, .nav-items_item-link:focus {
  color: #34C759;
}