@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:focus, a:active {
  outline: none;
}

.logo-link {
  color: #34C759;
  font-size: 24px;
  font-family: "Alegreya" sans-serif;
  line-height: 14px;
  text-transform: uppercase;
}

header {
  background-color: #252525;
  opacity: 0.75;
  margin-bottom: 45px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-size: cover;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 27px 164px 37px 165px;
  gap: 397px;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 13px;
}
.nav-items_item-link {
  color: #FFFFFF;
  font-family: "Alegreya" sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}
.nav-items_item-link:hover, .nav-items_item-link:focus {
  color: #34C759;
}

.main {
  background-image: url(../assets/images/main.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  padding: 130px 0 185px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-wrapper_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  border: 1px solid transparent;
  background-color: #252525;
  padding: 9px 10px;
  opacity: 0.7;
  width: 48px;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}

.main-wrapper_side:hover, .main-wrapper_side:focus {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.main-wrapper_title {
  font-family: "Alegreya" sans-serif;
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  padding: 0 170px 0 170px;
  text-align: center;
  color: white;
  margin-bottom: 28px;
}

.main-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 143px;
  text-align: center;
}
.main-cards_card-link_icon {
  margin-bottom: 16px;
}
.main-cards_card-link_icon:hover, .main-cards_card-link_icon:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.main-cards_card-link_icon-text {
  margin-bottom: 4px;
  font-family: "Alegreya" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}
.main-cards_card-link_icon-text_desc {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}