@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
  background-color: #1A1A1A;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:focus, a:active {
  outline: none;
}

.logo-link {
  color: #34C759;
  font-size: 24px;
  font-family: "Alegreya" sans-serif;
  line-height: 14px;
  text-transform: uppercase;
}

header {
  background-color: #252525;
  opacity: 0.75;
  margin-bottom: 45px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-size: cover;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 27px 164px 37px 165px;
  gap: 397px;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 13px;
}
.nav-items_item-link {
  color: #FFFFFF;
  font-family: "Alegreya" sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}
.nav-items_item-link:hover, .nav-items_item-link:focus {
  color: #34C759;
}

.main {
  background-image: url(../assets/images/main.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  padding: 130px 0 185px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-wrapper_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  border: 1px solid transparent;
  background-color: #252525;
  padding: 9px 10px;
  opacity: 0.7;
  width: 48px;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}

.main-wrapper_side:hover, .main-wrapper_side:focus {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.main-wrapper_title {
  font-family: "Alegreya" sans-serif;
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  padding: 0 170px 0 170px;
  text-align: center;
  color: white;
  margin-bottom: 28px;
}

.main-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 143px;
  text-align: center;
}
.main-cards_card-link_icon {
  margin-bottom: 16px;
}
.main-cards_card-link_icon:hover, .main-cards_card-link_icon:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.main-cards_card-link_icon-text {
  margin-bottom: 4px;
  font-family: "Alegreya" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}
.main-cards_card-link_icon-text_desc {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.lunch-container {
  position: relative;
}

.lunch-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A1A1A), to(#2C2C2C));
  background-image: linear-gradient(180deg, #1A1A1A 0%, #2C2C2C 100%);
  height: 583px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}
.lunch-wrapper_title {
  color: #34C759;
  font-size: 36px;
  font-family: "Montserrat" sans-serif;
  font-weight: 600;
  line-height: 43px;
  margin: 40px 458px 0 458px;
}
.lunch-wrapper_title-desc {
  font-family: "Alegreya";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #D9D9D9;
  margin-left: 500px;
}

.dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 100px 185px 112px 205px;
  gap: 24px;
}
.dishes-dish {
  width: 50%;
}
.dishes-dish_name {
  color: white;
  font-family: "Montserrat" sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
}
.dishes-dish_name-desc {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Alegreya" sans-serif;
  font-weight: 400px;
  font-size: 13px;
  border-bottom: 2px solid #34C759;
  padding-bottom: 12px;
}
.dishes-dish_name-desc_image {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}
.dishes-dish_name-desc_image-pic {
  width: 380px;
  height: 307px;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 452px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 172px;
  margin-bottom: 94px;
}
.offers-area {
  width: 120px;
  text-align: center;
}
.offers-area_link {
  color: white;
}
.offers-area_link-icon {
  margin-bottom: 20px;
}

.collection {
  background-image: url(../assets/images/food-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.75;
  width: 100%;
  height: 554px;
}
.collection-wrapper {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 246px;
  padding-top: 138px;
}
.collection-wrapper-desc {
  padding-left: 508px;
  padding-right: 47px;
}
.collection-wrapper-desc_title {
  color: #34C759;
  margin-bottom: 40px;
}
.collection-wrapper-desc_title-text {
  color: #FFFFFF;
  margin-bottom: 60px;
  width: 310px;
  line-height: 29px;
}
.collection-wrapper-desc_title-text_btn {
  border: 2px solid #34C759;
  border-radius: 100px;
  background-color: transparent;
  padding: 9px 47px;
}
.collection-wrapper-desc_title-text_btn:hover, .collection-wrapper-desc_title-text_btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #aae9b9;
}
.collection-wrapper-desc_title-text_btn-link {
  text-decoration: none;
  color: #34C759;
  text-transform: uppercase;
}
.collection-wrapper-desc_title-text_btn-link:hover, .collection-wrapper-desc_title-text_btn-link:focus {
  color: #FFFFFF;
}

.sladers-arrow {
  padding-top: 80px;
}
.sladers-arrow:hover, .sladers-arrow:focus {
  cursor: pointer;
  opacity: 0.75;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.round-menu_slade {
  padding-left: 50%;
  padding-top: 150px;
}

.color:hover, .color:focus {
  cursor: pointer;
  fill: #34C759;
}