@import 'vars';
@import 'global';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap');

header{
    background-color: $bodydark;
    opacity: .75;
    margin-bottom: 45px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-size: cover;
}
.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 27px 164px 37px 165px;
    gap: 397px;
    
}
.nav{
    &-items{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 13px;
        &_item{
            &-link{
                color: $white;
                font-family: 'Alegreya' sans-serif;
                font-size: 14px;
                line-height: 14px;
                font-weight: 500;
                &:hover, &:focus{
                    color: $green;
                }
            }
        }
    }
}

.main{
    background-image: url(../assets/images/main.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    padding: 130px 0 185px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.main-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}
.main-wrapper_icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    border: 1px solid transparent;
    background-color: $bodydark;
    padding: 9px 10px;
    opacity: .70;
    width: 48px;
    transform: translateY(-140%);
}
.main-wrapper_side{
    &:hover, &:focus{
        transform: scale(1.4);
    }
}
.main-wrapper_title{
    font-family: 'Alegreya' sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    padding: 0 170px 0 170px;
    text-align: center;
    color: white;
    margin-bottom: 28px;
}
.main-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 143px;
    text-align: center;
    &_card{
        &-link{
            &_icon{
                margin-bottom: 16px;
                &:hover, &:focus{
                    transform: scale(1.3);
                }
                &-text{
                    margin-bottom: 4px;
                    font-family: 'Alegreya' sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 30px;
                    color: $white;
                    &_desc{
                        color:$darkwhite;
                        font-family: 'Montserrat' sans-serif;
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}