@import 'vars';
@import 'global';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap');

header{
    background-color: $bodydark;
    opacity: .75;
    margin-bottom: 45px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-size: cover;
}
.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 27px 164px 37px 165px;
    gap: 397px;
    
}
.nav{
    &-items{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 13px;
        &_item{
            &-link{
                color: $white;
                font-family: 'Alegreya' sans-serif;
                font-size: 14px;
                line-height: 14px;
                font-weight: 500;
                &:hover, &:focus{
                    color: $green;
                }
            }
        }
    }
}

.main{
    background-image: url(../assets/images/main.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    padding: 130px 0 185px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.main-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.main-wrapper_icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    border: 1px solid transparent;
    background-color: $bodydark;
    padding: 9px 10px;
    opacity: .70;
    width: 48px;
    transform: translateY(-140%);
}
.main-wrapper_side{
    &:hover, &:focus{
        transform: scale(1.4);
    }
}
.main-wrapper_title{
    font-family: 'Alegreya' sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    padding: 0 170px 0 170px;
    text-align: center;
    color: white;
    margin-bottom: 28px;
}
.main-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 143px;
    text-align: center;
    &_card{
        &-link{
            &_icon{
                margin-bottom: 16px;
                &:hover, &:focus{
                    transform: scale(1.3);
                }
                &-text{
                    margin-bottom: 4px;
                    font-family: 'Alegreya' sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 30px;
                    color: $white;
                    &_desc{
                        color:$darkwhite;
                        font-family: 'Montserrat' sans-serif;
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.lunch-container{
    position: relative;
}
.lunch{
    &-wrapper{
        background-image: linear-gradient(180deg, #1A1A1A 0%, #2C2C2C 100%);
        height: 583px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-35%);
        &_title{
            @include Header2;
            margin: 40px 458px 0 458px;
            &-desc{
                font-family: 'Alegreya';
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                color: $grayHeader ;
                margin-left: 500px;
            }
        }
    }
}

.dishes{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 185px 112px 205px;
    gap: 24px;
    &-dish{
        width: 50%;
        &_name{
            color: white;
            font-family: 'Montserrat' sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 8px;
            &-desc{
                color: $darkerwhite;
                font-family: 'Alegreya' sans-serif;
                font-weight: 400px;
                font-size: 13px;
                border-bottom: 2px solid $green;
                padding-bottom: 12px;
                &_image{
                    transform: translateY(-70%);
                    &-pic{
                        width: 380px;
                        height: 307px;
                    }
                }
            }
        }
    }
}
.offers{
    display: flex;
    padding-top: 452px;
    justify-content: center;
    gap: 172px;
    margin-bottom: 94px;
    &-area{
        width: 120px;
        text-align: center;
        &_link{
            color: white;
            &-icon{
                margin-bottom: 20px;
            }
        }
    }
}
.collection{
    background-image: url(../assets/images/food-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .75;
    width: 100%;
    height: 554px;
    margin-bottom: 80px;
    &-wrapper{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 246px;
        padding-top: 138px;
        &-desc{
            padding-left: 508px;
            padding-right: 47px;
            &_title{
                color: $green;
                margin-bottom: 40px;
                &-text{
                    color: $white;
                    margin-bottom: 60px;
                    width: 310px;
                    line-height: 29px;
                  &_btn{
                      border: 2px solid $green;
                      border-radius: 100px;
                      background-color: transparent;
                      padding: 9px 47px;
                      &:hover, &:focus{
                        transform: scale(1.1);
                        background-color: #aae9b9;
                      }
                      &-link{
                          text-decoration: none;
                          color: $green;
                          text-transform: uppercase;
                          &:hover, &:focus{
                              color: $white;
                          }
                      }
                  }  
                }
            }
        }
    }
}
.sladers-arrow{
    padding-top: 80px;
    &:hover, &:focus{
        cursor: pointer;
        opacity: .75;
        transform: scale(.90);
    }
}
.round-menu_slade{
    padding-left: 50%;
    padding-top: 150px;
}
.color{
    &:hover, &:focus{
        cursor: pointer;
        fill: $green;
    }
}

.deserts{
    margin-bottom: 80px;
    &-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &_title{
            @include header3;
            margin-bottom: 82px;
            position: relative;
            &::after{
                content: '';
                width: 60px;
                height: 2px;
                background-color: $green;
                position: absolute;
                left: 40%;
                transform: translateY(70px);

            }
            &-cards{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 30px;
                row-gap: 40px;
                justify-content: center;
                &_card{
                    border: $cardsBG 1px solid;
                    min-height: 437px;
                    &-img{
                        margin-bottom: 26px;
                        &_name{
                            margin-bottom: 20px;
                            color: $white;
                            padding-left: 20px;
                            &-desc{
                                margin-bottom: 24px;
                                color: $cardsgray ;
                                padding-left: 20px;
                                &_price{
                                    color: $green;
                                    font-size: 24px;
                                    line-height: 33px;
                                    font-weight: 600;
                                    margin-right: 179px;
                                    padding-left: 20px;
                                    &-btn{
                                        text-transform: uppercase;
                                        padding: 10px 19px;
                                        background-color: $green;
                                        border-radius: 100px;
                                        &:hover, &:focus{
                                            opacity: .75;
                                        }
                                        &_link{
                                            color: $bodydark;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.reviews{
    &-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &_title{
            @include header3;
            margin-bottom: 62px;
            position: relative;
            &::after{
                content: '';
                width: 60px;
                height: 2px;
                background-color: $green;
                position: absolute;
                left: 30%;
                transform: translateY(60px);
            }
            &-review{
                display: grid;
                grid-template-columns: repeat(3, 380px);
                &_name{
                    font-family: 'Alegreya', sans-serif;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 19px;
                    color: $darkwhite;
                    margin-right: 139px;
                    &-date{
                    font-family: 'Alegreya', sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                        &_stars{
                            &-desc{
                                color: $white;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}