@import 'vars';
@import 'global';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap');

header{
    background-color: $bodydark;
    opacity: .75;
    margin-bottom: 45px;
}
.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 27px 164px 37px 165px;
    gap: 397px;
}
.nav{
    &-items{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 13px;
        &_item{
            &-link{
                color: $white;
                font-family: 'Alegreya' sans-serif;
                font-size: 14px;
                line-height: 14px;
                font-weight: 500;
                &:hover, &:focus{
                    color: $green;
                }
            }
        }
    }
}
